.corp {
  background-color: #00394a;
}

nav {
  background: url("/projet-trio-BlackJack/asset/img/imgs/img-casino-nav.jpg")
    no-repeat center / cover;
  height: 300px;
}

.bout {
  margin: 0 auto;
}

/* .row {
  height: 100px;
} */
